body {
    background: #23353d;
    color: #999999;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.hidden {
    display: none;
}

@keyframes blinking {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blinking 1.5s linear infinite;
}

.airplanes {
    list-style: none;
    padding: 0;
}

.airplane {
    background: #325562;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: background-color 1s 5s ease, color 1s 5s ease;
}

.heading-arrow {
    font-size: 2rem;
    display: inline-block;
}

.airplane-transition--new {
    background: #ee505a;
    color: #222222;
    animation: blinking 3s ease;
}

.airplane-transition--update {
    background: #C7A424;
    color: #222222;
    animation: blinking 0.5s ease;
}

